body     { font-family: Lucida Sans Unicode; font-size: 10pt; color: black; background-color: white}

h3       { font-family: Lucida Sans; font-size: 12pt; color: #006666; font-weight:bold}
table    { font-family: Lucida Sans Unicode; font-size: 10pt; color: black}

a:link    { font-family: Lucida Sans Unicode; font-size: 10pt}

a:visited    { font-family: Lucida Sans Unicode; font-size: 10pt}